@model IEnumerable<MarkPro.Models.AllUserRequests>


@{
    ViewData["Title"] = "All User Requests";
}

@foreach (var item in Model)
{
    var i = 0;
    if(i < 1)
    {
        
        <h5 class="card-title"><b>Requested By: </b>@Html.DisplayFor(modelItem => item.UserName)</h5>
        break;
    }
    
}

<div class="row">
   @foreach (var item in Model)
    {     
        
        <div class="card m-1" style="width:350px; box-shadow: 0 0 5px 0; background-color: lightblue; backdrop-filter: blur(10px); ">
            <div class="card-body" >
                
                <h5 class="card-title"><b>Media Name: </b>@Html.DisplayFor(modelItem => item.MediaName)</h5>
                <h5 class="card-title"><b>Media Type: </b>@Html.DisplayFor(modelItem => item.MediaType)</h5>
             </div>
        </div>
    }
</div>
