@model IEnumerable<MarkPro.Models.User>

@{
    ViewData["Title"] = "Users";
}

<div class="row">
   @foreach (var item in Model)
    {     
        <div class="card m-1" style="width:350px ">
            <div class="card-body" >
                <h5 class="card-title"><b>User ID: </b>@Html.DisplayFor(modelItem => item.Id)</h5>
                <h5 class="card-title"><b>Username: </b>@Html.DisplayFor(modelItem => item.Name)</h5>
                <h6><a href="AllUserRequestsView.cshtml">Requestss</a></h6>
                <button> Requests</button>
                
             </div>
        </div>
    }
</div>
